<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{path('app_acceuil')}}">Shop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{path('app_acceuil')}}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_products')}}">Products</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_categories')}}">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_contact')}}">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
